@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap");

//fonts
$BebasNeue: "Bebas Neue", sans-serif;
$SpaceMono: "Space Mono", sans-serif;
$Ubuntu: "Ubuntu", sans-serif;

//colors
$blue: #445fa5;
$paleGrey: #a1b0d8;
$green: #256579;
$darkGrey: #6d7a93;
$lightGrey: #96a0b5;
$blackish: #2c2f3e;
